@font-face {
  font-family: 'feather';
  src:
    url('feather6290.woff?e51d5j') format('woff'),
    url('feather6290.woff2?e51d5j') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="feathericon-"], [class*=" feathericon-"] {
  font-family: 'feather', serif !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.feathericon-eye:before {
  content: "\e95f";
}
.feathericon-eye-off:before {
  content: "\e960";
}