@font-face {
  font-family: 'feather';
  src:
    url('feather6290.woff?e51d5j') format('woff'),
    url('feather6290.woff2?e51d5j') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="feathericon-"], [class*=" feathericon-"] {
  font-family: 'feather', serif !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.feathericon-book:before {
  content: "\e922";
}
.feathericon-book-open:before {
  content: "\e923";
}
.feathericon-bookmark:before {
  content: "\e924";
}
.feathericon-box:before {
  content: "\e925";
}
.feathericon-briefcase:before {
  content: "\e926";
}
.feathericon-calendar:before {
  content: "\e927";
}
.feathericon-camera:before {
  content: "\e928";
}
.feathericon-camera-off:before {
  content: "\e929";
}
.feathericon-cast:before {
  content: "\e92a";
}
.feathericon-check:before {
  content: "\e92b";
}
.feathericon-check-circle:before {
  content: "\e92c";
}
.feathericon-check-square:before {
  content: "\e92d";
}
.feathericon-chevron-down:before {
  content: "\e92e";
}
.feathericon-chevron-left:before {
  content: "\e92f";
}
.feathericon-chevron-right:before {
  content: "\e930";
}
.feathericon-chevron-up:before {
  content: "\e931";
}
.feathericon-chevrons-down:before {
  content: "\e932";
}
.feathericon-chevrons-left:before {
  content: "\e933";
}
.feathericon-chevrons-right:before {
  content: "\e934";
}
.feathericon-chevrons-up:before {
  content: "\e935";
}
.feathericon-chrome:before {
  content: "\e936";
}
.feathericon-circle:before {
  content: "\e937";
}
.feathericon-clipboard:before {
  content: "\e938";
}
.feathericon-clock:before {
  content: "\e939";
}
.feathericon-cloud:before {
  content: "\e93a";
}
.feathericon-cloud-drizzle:before {
  content: "\e93b";
}
.feathericon-cloud-lightning:before {
  content: "\e93c";
}
.feathericon-cloud-off:before {
  content: "\e93d";
}
.feathericon-cloud-rain:before {
  content: "\e93e";
}
.feathericon-cloud-snow:before {
  content: "\e93f";
}
.feathericon-code:before {
  content: "\e940";
}
.feathericon-codepen:before {
  content: "\e941";
}
.feathericon-codesandbox:before {
  content: "\e942";
}
.feathericon-coffee:before {
  content: "\e943";
}
.feathericon-columns:before {
  content: "\e944";
}
.feathericon-command:before {
  content: "\e945";
}
.feathericon-compass:before {
  content: "\e946";
}
.feathericon-copy:before {
  content: "\e947";
}
.feathericon-corner-down-left:before {
  content: "\e948";
}
.feathericon-corner-down-right:before {
  content: "\e949";
}
.feathericon-corner-left-down:before {
  content: "\e94a";
}
.feathericon-corner-left-up:before {
  content: "\e94b";
}
.feathericon-corner-right-down:before {
  content: "\e94c";
}
.feathericon-corner-right-up:before {
  content: "\e94d";
}
.feathericon-corner-up-left:before {
  content: "\e94e";
}
.feathericon-corner-up-right:before {
  content: "\e94f";
}
.feathericon-cpu:before {
  content: "\e950";
}
.feathericon-credit-card:before {
  content: "\e951";
}
.feathericon-crop:before {
  content: "\e952";
}
.feathericon-crosshair:before {
  content: "\e953";
}
.feathericon-database:before {
  content: "\e954";
}
.feathericon-delete:before {
  content: "\e955";
}
.feathericon-disc:before {
  content: "\e956";
}
.feathericon-dollar-sign:before {
  content: "\e957";
}
.feathericon-download:before {
  content: "\e958";
}
.feathericon-download-cloud:before {
  content: "\e959";
}
.feathericon-droplet:before {
  content: "\e95a";
}
.feathericon-edit:before {
  content: "\e95b";
}
.feathericon-edit-2:before {
  content: "\e95c";
}
.feathericon-edit-3:before {
  content: "\e95d";
}
.feathericon-external-link:before {
  content: "\e95e";
}
.feathericon-eye:before {
  content: "\e95f";
}
.feathericon-eye-off:before {
  content: "\e960";
}
.feathericon-facebook:before {
  content: "\e961";
}
.feathericon-fast-forward:before {
  content: "\e962";
}
.feathericon-feather:before {
  content: "\e963";
}
.feathericon-figma:before {
  content: "\e964";
}
.feathericon-file:before {
  content: "\e965";
}
.feathericon-file-minus:before {
  content: "\e966";
}
.feathericon-file-plus:before {
  content: "\e967";
}
.feathericon-file-text:before {
  content: "\e968";
}
.feathericon-film:before {
  content: "\e969";
}
.feathericon-filter:before {
  content: "\e96a";
}
.feathericon-flag:before {
  content: "\e96b";
}
.feathericon-folder:before {
  content: "\e96c";
}
.feathericon-folder-minus:before {
  content: "\e96d";
}
.feathericon-folder-plus:before {
  content: "\e96e";
}
.feathericon-framer:before {
  content: "\e96f";
}
.feathericon-frown:before {
  content: "\e970";
}
.feathericon-gift:before {
  content: "\e971";
}
.feathericon-git-branch:before {
  content: "\e972";
}
.feathericon-git-commit:before {
  content: "\e973";
}
.feathericon-git-merge:before {
  content: "\e974";
}
.feathericon-git-pull-request:before {
  content: "\e975";
}
.feathericon-github:before {
  content: "\e976";
}
.feathericon-gitlab:before {
  content: "\e977";
}
.feathericon-globe:before {
  content: "\e978";
}
.feathericon-grid:before {
  content: "\e979";
}
.feathericon-hard-drive:before {
  content: "\e97a";
}
.feathericon-hash:before {
  content: "\e97b";
}
.feathericon-headphones:before {
  content: "\e97c";
}
.feathericon-heart:before {
  content: "\e97d";
}
.feathericon-help-circle:before {
  content: "\e97e";
}
.feathericon-hexagon:before {
  content: "\e97f";
}
.feathericon-home:before {
  content: "\e980";
}
.feathericon-image:before {
  content: "\e981";
}
.feathericon-inbox:before {
  content: "\e982";
}
.feathericon-info:before {
  content: "\e983";
}
.feathericon-instagram:before {
  content: "\e984";
}
.feathericon-italic:before {
  content: "\e985";
}
.feathericon-key:before {
  content: "\e986";
}
.feathericon-layers:before {
  content: "\e987";
}
.feathericon-layout:before {
  content: "\e988";
}
.feathericon-life-buoy:before {
  content: "\e989";
}
.feathericon-link:before {
  content: "\e98a";
}
.feathericon-link-2:before {
  content: "\e98b";
}
.feathericon-linkedin:before {
  content: "\e98c";
}
.feathericon-list:before {
  content: "\e98d";
}
.feathericon-loader:before {
  content: "\e98e";
}
.feathericon-lock:before {
  content: "\e98f";
}
.feathericon-log-in:before {
  content: "\e990";
}
.feathericon-log-out:before {
  content: "\e991";
}
.feathericon-mail:before {
  content: "\e992";
}
.feathericon-map:before {
  content: "\e993";
}
.feathericon-map-pin:before {
  content: "\e994";
}
.feathericon-maximize:before {
  content: "\e995";
}
.
.feathericon-box:before {
  content: "\e925";
}
.feathericon-briefcase:before {
  content: "\e926";
}
.feathericon-calendar:before {
  content: "\e927";
}
.feathericon-camera:before {
  content: "\e928";
}
.feathericon-camera-off:before {
  content: "\e929";
}
.feathericon-cast:before {
  content: "\e92a";
}
.feathericon-check:before {
  content: "\e92b";
}
.feathericon-check-circle:before {
  content: "\e92c";
}
.feathericon-check-square:before {
  content: "\e92d";
}
.feathericon-chevron-down:before {
  content: "\e92e";
}
.feathericon-chevron-left:before {
  content: "\e92f";
}
.feathericon-chevron-right:before {
  content: "\e930";
}
.feathericon-chevron-up:before {
  content: "\e931";
}
.feathericon-chevrons-down:before {
  content: "\e932";
}
.feathericon-chevrons-left:before {
  content: "\e933";
}
.feathericon-chevrons-right:before {
  content: "\e934";
}
.feathericon-chevrons-up:before {
  content: "\e935";
}
.feathericon-chrome:before {
  content: "\e936";
}
.feathericon-circle:before {
  content: "\e937";
}
.feathericon-clipboard:before {
  content: "\e938";
}
.feathericon-clock:before {
  content: "\e939";
}
.feathericon-cloud:before {
  content: "\e93a";
}
.feathericon-cloud-drizzle:before {
  content: "\e93b";
}
.feathericon-cloud-lightning:before {
  content: "\e93c";
}
.feathericon-cloud-off:before {
  content: "\e93d";
}
.feathericon-cloud-rain:before {
  content: "\e93e";
}
.feathericon-cloud-snow:before {
  content: "\e93f";
}
.feathericon-code:before {
  content: "\e940";
}
.feathericon-codepen:before {
  content: "\e941";
}
.feathericon-codesandbox:before {
  content: "\e942";
}
.feathericon-coffee:before {
  content: "\e943";
}
.feathericon-columns:before {
  content: "\e944";
}
.feathericon-command:before {
  content: "\e945";
}
.feathericon-compass:before {
  content: "\e946";
}
.feathericon-copy:before {
  content: "\e947";
}
.feathericon-corner-down-left:before {
  content: "\e948";
}
.feathericon-corner-down-right:before {
  content: "\e949";
}
.feathericon-corner-left-down:before {
  content: "\e94a";
}
.feathericon-corner-left-up:before {
  content: "\e94b";
}
.feathericon-corner-right-down:before {
  content: "\e94c";
}
.feathericon-corner-right-up:before {
  content: "\e94d";
}
.feathericon-corner-up-left:before {
  content: "\e94e";
}
.feathericon-corner-up-right:before {
  content: "\e94f";
}
.feathericon-cpu:before {
  content: "\e950";
}
.feathericon-credit-card:before {
  content: "\e951";
}
.feathericon-crop:before {
  content: "\e952";
}
.feathericon-crosshair:before {
  content: "\e953";
}
.feathericon-database:before {
  content: "\e954";
}
.feathericon-delete:before {
  content: "\e955";
}
.feathericon-disc:before {
  content: "\e956";
}
.feathericon-dollar-sign:before {
  content: "\e957";
}
.feathericon-download:before {
  content: "\e958";
}
.feathericon-download-cloud:before {
  content: "\e959";
}
.feathericon-droplet:before {
  content: "\e95a";
}
.feathericon-edit:before {
  content: "\e95b";
}
.feathericon-edit-2:before {
  content: "\e95c";
}
.feathericon-edit-3:before {
  content: "\e95d";
}
.feathericon-external-link:before {
  content: "\e95e";
}
.feathericon-eye:before {
  content: "\e95f";
}
.feathericon-eye-off:before {
  content: "\e960";
}
.feathericon-facebook:before {
  content: "\e961";
}
.feathericon-fast-forward:before {
  content: "\e962";
}
.feathericon-feather:before {
  content: "\e963";
}
.feathericon-figma:before {
  content: "\e964";
}
.feathericon-file:before {
  content: "\e965";
}
.feathericon-file-minus:before {
  content: "\e966";
}
.feathericon-file-plus:before {
  content: "\e967";
}
.feathericon-file-text:before {
  content: "\e968";
}
.feathericon-film:before {
  content: "\e969";
}
.feathericon-filter:before {
  content: "\e96a";
}
.feathericon-flag:before {
  content: "\e96b";
}
.feathericon-folder:before {
  content: "\e96c";
}
.feathericon-folder-minus:before {
  content: "\e96d";
}
.feathericon-folder-plus:before {
  content: "\e96e";
}
.feathericon-framer:before {
  content: "\e96f";
}
.feathericon-frown:before {
  content: "\e970";
}
.feathericon-gift:before {
  content: "\e971";
}
.feathericon-git-branch:before {
  content: "\e972";
}
.feathericon-git-commit:before {
  content: "\e973";
}
.feathericon-git-merge:before {
  content: "\e974";
}
.feathericon-git-pull-request:before {
  content: "\e975";
}
.feathericon-github:before {
  content: "\e976";
}
.feathericon-gitlab:before {
  content: "\e977";
}
.feathericon-globe:before {
  content: "\e978";
}
.feathericon-grid:before {
  content: "\e979";
}
.feathericon-hard-drive:before {
  content: "\e97a";
}