@import url(swiper.min.css);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&amp;display=swap);
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css');


:root {
    --font-family: 'Poppins', sans-serif;
    --font-base-size: 15px;
    --font-mobile-size: 14px;
    --color-heading: #FCFCFC;
    --color-paragraph: #D6D6D6;
    --color-border: #383838;
    --color-bg: #121212;
    --color-surface-1: #1e1e1f;
    --color-surface-2: #3d414b;
    --color-surface-3: #202021;
    --color-accent: #66FF00;
    --color-error: #B84C4C;
    --color-gradient: linear-gradient(137.84deg, #66FF00 26.31%, #7FFF00 93.75%);
    --color-gradient-soft: linear-gradient(135deg, rgba(255, 218, 109, 0.0375) 0%, rgba(255, 189, 94, 0) 100%), #1E1E1F;
    --color-gradient-text: linear-gradient(90deg, #66FF00, #7FFF00);
    --color-gradient-border: linear-gradient(155deg, #66FF00 0%, rgba(255, 191, 96, 0) 50%);
    --color-gradient-border-gray: linear-gradient(135deg, #404040 0%, rgba(64, 64, 64, 0) 48.44%);
    --color-gradient-gray: linear-gradient(137.84deg, #3F3F40 2.69%, #303030 93.75%);
    --color-gradient-icon: linear-gradient(135deg, rgba(255, 218, 109, 0.25) 0%, rgba(255, 189, 94, 0) 59.86%), #202021;
    --color-btn: linear-gradient(135deg, rgba(45, 45, 46, 0.25) 0%, rgba(27, 27, 28, 0) 100%), #202021;
    --box-shadow-24: -4px 8px 24px rgba(0, 0, 0, 0.25);
    --box-shadow-30: 0px 16px 30px rgba(0, 0, 0, 0.25);
    --box-shadow-40: 0px 16px 40px rgba(0, 0, 0, 0.25);
    --box-shadow-50: 0px 25px 50px rgba(0, 0, 0, 0.15);
    --box-shadow-80: 0px 24px 80px rgba(0, 0, 0, 0.7);
    --radius-32: 32px;
    --radius-20: 20px;
    --radius-18: 18px;
    --radius-16: 16px;
    --radius-14: 14px;
    --radius-12: 12px;
    --radius-8: 8px
}

[data-bs-theme=light] p {
    color: #474554 !important;
    transition: 0, 3s ease-in-out;
    font-weight: 400;
}

[data-bs-theme=light] .details-info__item .overhead {
    color: #474554 !important;
    transition: 0, 3s ease-in-out;
    opacity: 1
}

[data-bs-theme=light] .details-info__item .text-overflow {
    color: #474554 !important;
    transition: 0, 3s ease-in-out;
    opacity: .7
}

[data-bs-theme=light] .box {
    background-color: #fff !important;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body, html {
    font-size: 1rem;
    -webkit-text-size-adjust: 100%
}

body {
    font-family: var(--font-family);
    font-size: var(--font-base-size);
    font-weight: 300;
    line-height: 1.65;
    min-height: 100vh;
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased
}

@media only screen and (max-width: 580px) {
    body {
        font-size: var(--font-mobile-size);
        line-height: 1.6
    }
}

img {
    max-width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

figure {
    margin: 0
}

.cover {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;', serif;
    height: 100%;
    width: 100%
}

::-moz-selection {
    background: #fff0;
    color: var(--color-accent)
}

::selection {
    background: #fff0;
    color: var(--color-accent)
}

h1, h2, h3, h4, h5 {
    /*color: var(--color-heading);*/
    font-family: var(--font-family), serif;
    font-weight: 600;
    line-height: 1.3
}

.title--h1 {
    font-size: 2rem;
    margin-bottom: 1.0625rem
}

@media only screen and (max-width: 580px) {
    .title--h1 {
        font-size: 1.5rem
    }
}

.title--h2 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem
}

@media only screen and (max-width: 580px) {
    .title--h2 {
        font-size: 1.125rem
    }
}

.title--h3 {
    font-size: 1.125rem;
    margin-bottom: .5rem
}

@media only screen and (max-width: 580px) {
    .title--h3 {
        font-size: 1rem
    }
}

.title--h4 {
    font-size: 1rem;
    margin-bottom: .8125rem;
    font-weight: 500
}

@media only screen and (max-width: 580px) {
    .title--h4 {
        font-size: .875rem
    }
}

.title__separate {
    margin-bottom: 2.3125rem;
    position: relative
}

.title__separate::before {
    content: '';
    background: var(--color-gradient);
    border-radius: .5rem;
    height: .3125rem;
    position: absolute;
    bottom: -1.0625rem;
    left: 0;
    width: 2.5rem;
    z-index: 1
}

@media only screen and (max-width: 580px) {
    .title__separate {
        margin-bottom: 1.5rem
    }

    .title__separate::before {
        height: .1875rem;
        bottom: -.625rem;
        width: 1.875rem
    }
}

.overhead {
    color: var(--color-paragraph);
    font-size: .75rem;
    font-weight: 400;
    display: block;
    opacity: .7;
    text-transform: uppercase
}

@media only screen and (max-width: 580px) {
    .overhead {
        font-size: .6875rem
    }
}

.text-overflow {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

a {
    color: var(--color-accent);
    cursor: pointer;
    text-decoration: none
}

a:hover {
    outline: none
}

.badge {
    background: var(--color-surface-2);
    font-size: .75rem;
    font-weight: 300;
    border-radius: var(--radius-8);
    padding: .5rem 1rem
}

@media only screen and (max-width: 580px) {
    .badge {
        font-size: .6875rem;
        padding: .375rem .75rem
    }
}

.btn {
    background: var(--color-gradient-border-gray);
    border-radius: var(--radius-14);
    -webkit-box-shadow: var(--box-shadow-40);
    box-shadow: var(--box-shadow-40);
    border: 0;
    color: var(--color-accent);
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
    line-height: initial;
    padding: 1rem 1.5rem;
    position: relative;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    white-space: nowrap;
    z-index: 0
}

.btn::before {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background: var(--color-btn);
    border-radius: inherit;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    z-index: -1
}

[data-bs-theme=light] .btn {
    background: #dadde2;
    color: #000;
    transition: 0, 3s ease-in-out;
}

[data-bs-theme=light] .btn::before {
    background: #dadde2;
    color: var(--color-accent);
    transition: 0, 3s ease-in-out;
}

.btn:hover {
    background: var(--color-gradient-border);
    color: #FCFCFC;
    transition: 0.5s ease-in-out;
}

.btn:hover::before {
    background: #3b3b3b;
    color: var(--color-accent);
    transition: 0.5s;
}

.btn:focus {
    -webkit-box-shadow: var(--box-shadow-40);
    box-shadow: var(--box-shadow-40)
}

.btn .font-icon {
    margin-right: .375rem
}

.btn--small {
    -webkit-box-shadow: var(--box-shadow-30);
    box-shadow: var(--box-shadow-30);
    font-size: .75rem;
    padding: .625rem 1rem
}

.btn--small:focus {
    -webkit-box-shadow: var(--box-shadow-30);
    box-shadow: var(--box-shadow-30)
}

.btn--icon-right i {
    margin-left: .5rem
}

@media only screen and (max-width: 580px) {
    .btn {
        font-size: .875rem;
        padding: .75rem 1.125rem
    }
}

button:focus {
    outline: none
}

.sidebar {
    z-index: 10
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        margin-bottom: 1.875rem
    }
}

@media only screen and (max-width: 580px) {
    .sidebar {
        margin-bottom: 1rem
    }
}

@media only screen and (max-width: 1200px) {
    .sidebar__base-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .sidebar__base-info > * {
        min-width: 0
    }
}

@media only screen and (min-width: 1200px) {
    .sidebar__additional-info {
        display: block !important
    }
}

@media only screen and (max-width: 1200px) {
    .sidebar__additional-info {
        display: none
    }
}

@media only screen and (max-width: 1200px) {
    .sidebar__additional-info .details-info__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }

    .sidebar__additional-info .details-info__item:nth-last-child(2), .sidebar__additional-info .details-info__item:nth-last-child(1) {
        margin-bottom: 0
    }
}

@media only screen and (max-width: 768px) {
    .sidebar__additional-info .details-info__item {
        margin-bottom: 1.25rem
    }

    .sidebar__additional-info .details-info__item:nth-last-child(2) {
        margin-bottom: 1.25rem
    }

    .sidebar__additional-info .details-info__item:nth-last-child(1) {
        margin-bottom: 0 !important
    }
}

@media only screen and (max-width: 580px) {
    .sidebar__additional-info .details-info__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }

    .sidebar__additional-info .details-info__item:nth-last-child(2) {
        margin-bottom: .9375rem
    }

    .sidebar__additional-info .details-info__item:nth-last-child(1) {
        margin-bottom: 0
    }
}

.sidebar .avatar-box {
    background: var(--color-gradient-gray);
    border-radius: var(--radius-32);
    margin: 1.875rem 1.875rem 1.25rem;
    overflow: hidden;
    height: calc(100% - 3.75rem);
    width: calc(100% - 3.75rem);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

[data-bs-theme=light] .sidebar .avatar-box {
    background: #dadde2;
    transition: 0, 3s ease-in-out;
}

@media only screen and (max-width: 1200px) {
    .sidebar .avatar-box {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin: 0 1.5rem 0 0;
        height: 7.5rem;
        width: 7.5rem
    }
}

@media only screen and (max-width: 580px) {
    .sidebar .avatar-box {
        border-radius: var(--radius-20);
        margin: 0 1rem 0 0;
        height: 5rem;
        width: 5rem
    }
}

.sidebar .avatar-box img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%
}

.sidebar__name {
    font-size: 1.625rem;
    font-weight: 500;
    margin-bottom: 1rem;
    position: relative
}

@media only screen and (max-width: 580px) {
    .sidebar__name {
        font-size: 1.0625rem;
        margin-bottom: .625rem
    }
}

.sidebar__btn {
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    display: none
}

@media only screen and (max-width: 1200px) {
    .sidebar__btn {
        display: block;
        padding: .625rem 1rem
    }
}

@media only screen and (max-width: 580px) {
    .sidebar__btn {
        padding: .625rem
    }
}

.sidebar__btn i {
    display: none
}

@media only screen and (max-width: 580px) {
    .sidebar__btn i {
        display: block;
        margin: 0
    }

    .sidebar__btn span {
        display: none
    }
}

.contacts-block__info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.social {
    text-align: center
}

.social__link {
    font-size: 1.125rem;
    color: var(--color-heading);
    -webkit-text-fill-color: inherit;
    opacity: .6;
    margin: 0 .375rem
}

[data-bs-theme=light] .social__link {
    color: #474554;
}

@media only screen and (max-width: 580px) {
    .social__link {
        font-size: 1rem
    }
}

.social__link:hover {
    color: inherit;
    opacity: 1;
    text-decoration: none
}

@media only screen and (max-width: 1200px) {
    .social {
        text-align: left
    }
}

.sticky-column {
    margin-top: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1230px
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1290px
    }
}

.box {
    position: relative;
    z-index: 0
}

.box::before {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    border-radius: inherit;
    z-index: -1
}

[data-bs-theme=dark] .box::before {
    background: var(--color-gradient-soft);
}

.box--s2, .box, .icon-box{
    transition: 0.5s;
}

[data-bs-theme=dark] .box--s2 {
    background: var(--color-gradient-border-gray)
}

[data-bs-theme=dark] .box--s2::before {
    background-image: var(--color-btn) !important;
    background-color: var(--color-surface-3) !important
}

.box-outer {
    border: 1px solid var(--color-border);
    border-radius: var(--radius-20);
    -webkit-box-shadow: var(--box-shadow-24);
    box-shadow: var(--box-shadow-24);
    padding: 1.875rem;
    position: relative
}

@media only screen and (max-width: 580px) {
    .box-outer {
        padding: .9375rem
    }
}

.box-inner {
    border-radius: var(--radius-16);
    -webkit-box-shadow: var(--box-shadow-50);
    box-shadow: var(--box-shadow-50);
    padding: 1.875rem;
    margin-bottom: 1.875rem
}

@media only screen and (max-width: 580px) {
    .box-inner {
        border-radius: var(--radius-14);
        -webkit-box-shadow: var(--box-shadow-30);
        box-shadow: var(--box-shadow-30);
        padding: 1.25rem;
        margin-bottom: .9375rem
    }
}

.icon-box {
    font-size: 1.125rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: var(--radius-12);
    -webkit-box-shadow: var(--box-shadow-30);
    box-shadow: var(--box-shadow-30);
    line-height: 1;
    margin-right: 1rem;
    height: 3rem;
    width: 3rem
}

.icon-box > * {
    min-width: 0
}

[data-bs-theme=dark] .icon-box::before {
    background: var(--color-gradient-icon);
    transition: 0.5s;
}

.icon-box .font-icon {
    background: var(--color-gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #fff0
}

@media only screen and (max-width: 580px) {
    .icon-box {
        font-size: 1rem;
        border-radius: var(--radius-8);
        -webkit-box-shadow: var(--box-shadow-24);
        box-shadow: var(--box-shadow-24);
        height: 1.875rem;
        width: 1.875rem
    }
}

.box-avatar {
    border-radius: var(--radius-18);
    -webkit-box-shadow: var(--box-shadow-30);
    box-shadow: var(--box-shadow-30);
    height: 5rem;
    width: 5rem
}

.box-avatar::before {
    background: var(--color-gradient-gray)
}

.box-avatar img {
    -o-object-fit: cover;
    object-fit: cover
}

[data-bs-theme=dark] .box-avatar--not-border {
    background: var(--color-gradient-gray)
}

[data-bs-theme=light] .box-avatar--not-border {
    background-color: #dadde2 !important;
}

.box-avatar--not-border::before {
    display: none
}

@media only screen and (max-width: 580px) {
    .box-avatar {
        border-radius: var(--radius-14);
        -webkit-box-shadow: var(--box-shadow-24);
        box-shadow: var(--box-shadow-24);
        height: calc(5rem - 1.25rem);
        width: calc(5rem - 1.25rem)
    }
}

.separation {
    background: var(--color-border);
    margin: 2rem 0;
    height: 1px;
    width: 100%
}

@media only screen and (max-width: 580px) {
    .separation {
        margin: 1rem 0
    }
}


.details-info {
    list-style: none;
    padding-left: 0;
    margin-bottom: .5rem
}

@media only screen and (max-width: 1200px) {
    .details-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 0
    }

    .details-info > * {
        min-width: 0
    }
}

@media only screen and (max-width: 768px) {
    .details-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: .5rem;
        font-size: 1rem
    }

    .details-info > * {
        min-width: 0
    }
}

@media only screen and (max-width: 580px) {
    .details-info {
        font-size: .9375rem
    }
}

.details-info--inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.details-info--inline > * {
    min-width: 0
}

.details-info__item {
    color: var(--color-heading);
    font-size: .875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.75rem;
    text-overflow: ellipsis;
    white-space: nowrap
}

[data-bs-theme=light] .details-info__item {
    color: #474554;
}

.details-info__item > * {
    min-width: 0
}

@media only screen and (max-width: 580px) {
    .details-info__item {
        font-size: .8125rem;
        margin-bottom: 0.9375rem !important
    }
}

.details-info__item a {
    color: var(--color-heading);
    -webkit-text-fill-color: inherit;
    text-decoration: none
}

.details-info__item a:hover {
    color: var(--color-heading)
}

.details-info--inline .details-info__item {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 5rem
}

.details-info--inline .details-info__item > * {
    min-width: 0
}

.details-info--inline .details-info__item:last-child {
    margin-right: 0
}

.details-info__info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.nav-container {
    background: var(--color-surface-2);
    border: 1px solid var(--color-border);
    border-radius: 0 var(--radius-20) 0 var(--radius-20);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 4rem;
    padding-right: 2.375rem;
    padding-left: 2.375rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1
}

[data-bs-theme=light] .nav-container {
    background: #dadde2;
}

.nav-container > * {
    min-width: 0
}

@media only screen and (max-width: 991px) {
    .nav-container {
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
        background: rgb(43 43 44 / .75);
        border-radius: var(--radius-20) var(--radius-20) 0 0;
        -webkit-box-shadow: var(--box-shadow-30);
        box-shadow: var(--box-shadow-30);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        height: 3.8125rem;
        width: 100%;
        z-index: 1112
    }

    .nav-container > * {
        min-width: 0
    }
}

@media only screen and (max-width: 580px) {
    .nav-container {
        border-radius: var(--radius-12) var(--radius-12) 0 0;
        height: 3rem;
        padding-right: 1rem;
        padding-left: 1rem
    }
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    overflow: hidden
}

.nav > * {
    min-width: 0
}

@media only screen and (max-width: 768px) {
    .nav {
        font-size: .875rem
    }
}

@media only screen and (max-width: 580px) {
    .nav {
        font-size: .6875rem
    }
}

.nav__item {
    margin-right: 2.75rem
}

@media only screen and (max-width: 991px) {
    .nav__item {
        margin-right: 2rem
    }
}

@media only screen and (max-width: 580px) {
    .nav__item {
        margin-right: 1.25rem
    }
}

.nav__item a {
    background: none;
    color: var(--color-paragraph);
    -webkit-text-fill-color: inherit;
    font-weight: 500;
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

[data-bs-theme=light] .nav__item a {
    color: #474554;
}

.nav__item a:hover {
    opacity: .6;
    text-decoration: none
}

.nav__item a.active {
    background: var(--color-gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #fff0
}

.nav__item a.active:hover {
    opacity: 1
}

.nav__item:last-child {
    margin-right: 0
}

.case-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - 1.25rem);
    padding-bottom: 1.25rem;
    position: relative
}

.case-item > * {
    min-width: 0
}

@media only screen and (max-width: 580px) {
    .case-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center
    }

    .case-item > * {
        min-width: 0
    }
}

.case-item__icon {
    font-size: 40px;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    background: var(--color-gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #fff0;
    margin-right: 1rem;
    height: 2.5rem
}

@media only screen and (max-width: 580px) {
    .case-item__icon {
        margin-right: 0;
        margin-bottom: .8125rem
    }
}

.case-item div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.gallery-grid__image-wrap img {
    height: 200px;
    width: 100%;
}

.gallery-grid__image-wrap::before {
    content: '';
    background: #fff0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.gallery-grid__image-wrap::after {
    content: '\e95f';
    background: rgb(32 32 33 / .8);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-radius: var(--radius-12);
    font-family: 'feather' !important;
    font-size: 1.125rem;
    color: var(--color-accent) !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 3.5rem;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 3.5rem;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: 2
}

.gallery-grid__image-wrap::after > * {
    min-width: 0
}

@media only screen and (max-width: 1200px) {
    .gallery-grid__image-wrap {
        width: 100%;
    }
}

.gallery-grid__image {
    border-radius: var(--radius-16);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out
}

.gallery-grid__caption {
    padding: 0 .5rem
}

.gallery-grid__title {
    font-size: .9375rem;
    font-weight: 300;
    color: var(--color-heading);
    margin-top: 1rem;
    margin-bottom: 0
}

[data-bs-theme=light] .gallery-grid__title, [data-bs-theme=light] .gallery-grid__category {
    color: #474554;
}

.gallery-grid__category {
    font-size: .875rem;
    color: var(--color-paragraph);
    display: block;
    opacity: .7
}

.header-project {
    margin-top: 10px;
    margin-bottom: 2.5rem;
    position: relative
}

@media only screen and (max-width: 580px) {
    .header-project {
        margin-top: 1rem;
        margin-bottom: 1.875rem
    }
}

.header-project .title {
    margin-bottom: 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2
}

@media only screen and (max-width: 580px) {
    .header-project .title {
        font-size: 1.25rem;
        margin-bottom: .75rem
    }
}

.header-project__image-wrap {
    height: 25rem;
    margin-left: -1.875rem;
    margin-right: -1.875rem;
    position: relative
}

.header-project__image-wrap::before {
    content: '';
    background: -webkit-gradient(linear, left top, left bottom, from(#fff0), color-stop(68.23%, rgb(13 13 13 / .4)), to(rgb(13 13 13 / .4)));
    background: linear-gradient(180deg, #fff0 0%, rgb(13 13 13 / .4) 68.23%, rgb(13 13 13 / .4) 100%);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1
}

@media only screen and (max-width: 580px) {
    .header-project__image-wrap {
        height: 15.625rem;
        margin-left: -.9375rem;
        margin-right: -.9375rem;
        margin-bottom: 1.5rem
    }
}

.swiper-container .swiper-wrapper {
    min-height: 100%
}

.review-item {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--color-gradient-soft);
    border-radius: var(--radius-16);
    height: auto;
    padding: 1.875rem 1.875rem 1.5rem;
    margin-top: 2.5rem
}

.review-item > * {
    min-width: 0
}

.review-item::before {
    background-repeat: no-repeat;
    background-position: 0 0, right 1.875rem top 1.5rem
}

@media only screen and (max-width: 580px) {
    .review-item {
        padding: 1rem;
        margin-top: 1.5rem
    }

    .review-item::before {
        background-size: 0, 1.5rem;
        background-position: 0 0, right .9375rem top .9375rem
    }
}

.review-item .box-avatar {
    margin-top: -3.75rem
}

@media only screen and (max-width: 580px) {
    .review-item .box-avatar {
        margin-top: -2.5rem;
        margin-bottom: .5rem
    }
}

.review-item__caption:last-child {
    margin-bottom: 0
}

.review-item .title {
    margin-top: -1.375rem;
    margin-left: calc(5rem + 0.9375rem);
    margin-bottom: .75rem
}

@media only screen and (max-width: 580px) {
    .review-item .title {
        margin-left: 0;
        margin-top: .5rem;
        margin-bottom: .5rem
    }
}

.swiper-pagination {
    margin-top: .5rem;
    position: relative;
    line-height: 0
}

@media only screen and (max-width: 580px) {
    .swiper-pagination {
        margin-top: 1rem
    }
}

.timeline {
    margin-top: 1.8125rem;
    padding-left: 1.5rem;
    position: relative
}

.timeline::before {
    content: '';
    border-left-color: var(--color-border);
    border-left-width: 1px;
    border-left-style: solid;
    height: 3.75rem;
    width: 1px;
    position: absolute;
    top: -1.875rem
}

@media only screen and (max-width: 580px) {
    .timeline {
        padding-left: .90625rem
    }
}

.timeline__item {
    border-left-color: var(--color-border);
    border-left-width: 1px;
    border-left-style: solid;
    padding-bottom: .5625rem;
    padding-left: 2.5rem;
    position: relative
}

.timeline__item::before {
    content: '';
    background: var(--color-gradient-text);
    -webkit-box-shadow: 0 0 0 .25rem rgb(255 219 110 / .1);
    box-shadow: 0 0 0 .25rem rgb(255 219 110 / .1);
    border-radius: 50%;
    position: absolute;
    top: .0625rem;
    left: -.3125rem;
    height: .5625rem;
    width: .5625rem
}

.timeline__item:last-child {
    border: 0
}

@media only screen and (max-width: 580px) {
    .timeline__item {
        padding-left: 1.875rem
    }

    .timeline__item::before {
        left: -.21875rem;
        height: .375rem;
        width: .375rem
    }
}

.timeline__title {
    margin-bottom: 0;
    position: relative;
    top: -.3125rem
}

.timeline__period {
    background: var(--color-gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #fff0;
    font-weight: 400
}

.timeline__description {
    margin-top: .25rem
}

@media only screen and (max-width: 580px) {
    .timeline__description {
        margin-top: .1875rem
    }
}

.back-to-top {
    border-top: 1px solid var(--color-accent);
    border-left: 1px solid var(--color-accent);
    cursor: pointer;
    height: 1.5rem;
    opacity: .5;
    position: fixed;
    right: 2.5rem;
    bottom: 1.875rem;
    width: 1.5rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: opacity .35s ease-out;
    transition: opacity .35s ease-out;
    z-index: 10
}

.back-to-top:hover {
    opacity: 1
}

@media only screen and (max-width: 768px) {
    .back-to-top {
        height: 1.5rem;
        width: 1.5rem
    }
}

@media only screen and (max-width: 580px) {
    .back-to-top {
        display: none !important
    }
}